$color_1: #212529;
$color_2: #999999;
$color_3: #fff;
$color_4: #ffbd39;
$color_5: rgba(255, 255, 255, 0.1);
$color_6: #252525;
$color_7: red;
$color_8: #000;
$color_9: #6A6A6A;
$color_10: #A3A3A3;
$font-family_1: sans-serif;
$font-family_2: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family_3: "Poppins", Arial, sans-serif;

/*# sourceMappingURL=mystyle.css.map */
/*# sourceMappingURL=mystyle.css.map */
/*# sourceMappingURL=mystyle.css.map */
/*# sourceMappingURL=mystyle.css.map */
* {
	box-sizing: border-box;
	&::before {
		box-sizing: border-box;
	}
	&::after {
		box-sizing: border-box;
	}
}
html {
	font-family: $font-family_1;
	line-height: 1.15;
}
body {
	margin: 0;
	font-family: $font-family_2;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: $color_1;
	text-align: left;
	background-color: #fff;
	font-family: $font-family_3;
	background: #000000;
	font-size: 16px;
	line-height: 1.8;
	font-weight: 400;
	color: $color_2;
}
header {
	.custom_navbar {
		transition: all 0.4s;
		-webkit-transition: all 0.4s;
		-moz-transition: all 0.4s;
		-ms-transition: all 0.4s;
		-o-transition: all 0.4s;
		a {
			color: $color_3;
			margin-right: 20px;
			&:hover {
				color: $color_3;
				border-bottom: 2px solid #ffc107;
			}
		}
		p {
			color: $color_3;
			margin-top: 18px;
			font-size: 24px;
			font-weight: bold;
		}
		.logo {
			color: $color_4;
		}
		.navbar-toggler {
			border: none;
			span {
				color: $color_4;
				.navbar-toggler-icon {
					color: $color_4;
				}
			}
		}
	}
	.header-scrolled {
		background-color: #1A1A1A;
		opacity: 0.8;
		box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
	}
}
.slider {
	padding-top: 100px;
	min-height: 120vh;
}
.about_me {
	padding-top: 100px;
	min-height: 100vh;
	width: 100%;
	.heading-section {
		>h1 {
			position: absolute;
			top: 0px;
			left: 0;
			font-size: 7vw;
			color: $color_5;
			z-index: -1;
			font-weight: 900;
		}
		h2 {
			font-size: 50px;
			font-weight: 700;
			span {
				font-weight: 400;
			}
		}
	}
	ul.about-info {
		display: inline-block;
		padding: 0;
		margin: 0;
		width: 100%;
		li {
			list-style: none;
			margin-bottom: 10px;
			span {
				width: calc(100% - 130px);
				&:first-child {
					font-weight: 600;
					color: $color_3;
					width: 130px;
				}
			}
		}
	}
	.counter-wrap {
		.text {
			p {
				font-size: 20px;
				span {
					font-weight: 400;
					color: $color_3;
				}
				span.number {
					font-weight: 600;
					color: $color_4;
				}
			}
		}
	}
	.download_cv {
		a {
			font-size: 14px;
			font-weight: bold;
			color: $color_6;
			padding: 5px 25px;
			background-color: #ffbd39;
			border: none;
			outline: none;
			border-radius: 25px;
			-webkit-border-radius: 25px;
			-moz-border-radius: 25px;
			-ms-border-radius: 25px;
			-o-border-radius: 25px;
		}
	}
}
.resume {
	min-height: 100vh;
	padding-top: 100px;
	.resume_box {
		background-color: #1A1A1A;
		padding: 30px 25px;
		border-radius: 5px;
		margin-bottom: 25px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
		.date {
			color: $color_4;
			font-weight: 800;
			font-size: 24px;
		}
		>h2 {
			color: $color_3;
			font-size: 28px;
		}
		.position {
			font-size: 12px;
			font-weight: 700;
			text-transform: uppercase;
		}
		>p {
			font-size: 18px;
		}
	}
	a {
		font-size: 14px;
		font-weight: bold;
		color: $color_6;
		padding: 5px 25px;
		background-color: #ffbd39;
		border: none;
		outline: none;
		border-radius: 50px;
		-webkit-border-radius: 50px;
		-moz-border-radius: 50px;
		-ms-border-radius: 50px;
		-o-border-radius: 50px;
	}
}
.services {
	min-height: 100vh;
	padding-top: 25px;
	.service_box {
		height: 195px;
		margin-bottom: 50px;
		.services-1 {
			padding: 32px;
			background: rgba(255, 255, 255, 0.1);
			width: 100%;
			color: $color_3;
			box-shadow: 0px 20px 69px -27px rgba(0, 0, 0, 0.17);
			text-decoration: none;
			>figure {
				width: 100%;
				height: 90px;
				overflow: hidden;
				>img {
					width: 30%;
					background-size: cover;
					color: $color_7;
				}
			}
			>h3 {
				font-size: 20px;
			}
		}
		&:hover {
			.services-1 {
				background-color: #ffbd39;
				>h3 {
					color: $color_8;
					font-weight: bold;
				}
			}
		}
	}
}
.skills {
	min-height: 100vh;
	padding-top: 100px;
	.skill_box {
		margin-top: 25px;
		>h3 {
			color: $color_3;
			font-size: 20px;
		}
		.progress {
			height: 13px;
			.progress-bar {
				color: $color_6;
				font-weight: bold;
				background-color: #ffbd39;
				height: 13px;
				>span {
					padding-top: 3px;
					font-weight: bold;
				}
			}
		}
	}
}
.projects {
	min-height: 100vh;
	padding-top: 100px;
	.hovereffect {
		width: 100%;
		height: 100%;
		float: left;
		overflow: hidden;
		position: relative;
		text-align: center;
		cursor: default;
		margin-bottom: 25px;
		.overlay {
			width: 100%;
			height: 100%;
			position: absolute;
			overflow: hidden;
			top: 0;
			left: 0;
			background-color: rgba(0, 0, 0, 0.6);
			opacity: 0;
			filter: alpha(opacity=0);
			transform: translate(460px, -100px) rotate(180deg);
			transition: all 0.2s 0.4s ease-in-out;
		}
		img {
			display: block;
			position: relative;
			transition: all 0.2s ease-in;
			background-size: cover;
		}
		h2 {
			text-transform: uppercase;
			color: $color_3;
			text-align: center;
			position: relative;
			font-size: 17px;
			padding: 10px;
			background: rgba(0, 0, 0, 0.6);
		}
		a.info {
			display: inline-block;
			text-decoration: none;
			padding: 7px 14px;
			text-transform: uppercase;
			color: $color_3;
			border: 1px solid #fff;
			margin: 50px 0 0 0;
			background-color: transparent;
			transform: translateY(-200px);
			transition: all 0.2s ease-in-out;
			&:hover {
				box-shadow: 0 0 5px #fff;
			}
		}
		&:hover {
			.overlay {
				opacity: 1;
				filter: alpha(opacity=100);
				transition-delay: 0s;
				transform: translate(0px, 0px);
			}
			h2 {
				transform: translateY(0px);
				transition-delay: 0.5s;
			}
			a.info {
				transform: translateY(0px);
				transition-delay: 0.3s;
			}
		}
	}
}
.contact {
	min-height: 100vh;
	padding-top: 100px;
	.contact_info {
		i {
			font-size: 40px;
			background-color: #1A1A1A;
			color: $color_4;
			padding: 20px;
			margin-bottom: 10px;
			line-height: 0;
			border-radius: 50%;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			-ms-border-radius: 50%;
			-o-border-radius: 50%;
		}
	}
	.contact_form {
		background-color: #F8F9FA;
		.form-group {
			input {
				width: 100%;
				height: 60px;
				margin-bottom: 15px;
			}
			textarea {
				margin-bottom: 15px;
			}
			button {
				font-size: 18px;
				font-weight: bold;
				color: $color_6;
				padding: 5px 25px;
				background-color: #ffbd39;
				border: none;
				outline: none;
				border-radius: 50px;
				-webkit-border-radius: 50px;
				-moz-border-radius: 50px;
				-ms-border-radius: 50px;
				-o-border-radius: 50px;
			}
		}
	}
	.contact_img {
		background-color: #000;
		height: 90vh;
		>figure {
			width: 100%;
			height: 90vh;
			>img {
				width: 100%;
				height: 90vh;
			}
		}
	}
}
.footer_section {
	margin-top: 70px;
	.footer_link1 {
		>li {
			>a {
				text-decoration: none;
				color: $color_9;
				font-size: 16px;
				font-weight: bold;
				>i {
					margin-right: 5px;
				}
			}
		}
	}
	.footer_link2 {
		>li {
			>a {
				text-decoration: none;
				color: $color_9;
				font-size: 16px;
				font-weight: bold;
				>i {
					margin-right: 5px;
				}
			}
		}
	}
	.footer_link3 {
		>li {
			>a {
				text-decoration: none;
				color: $color_9;
				font-size: 16px;
				font-weight: bold;
				>i {
					margin-right: 5px;
				}
			}
		}
	}
	.footer_social {
		>li {
			margin-right: 10px;
			border-radius: 50px;
			-webkit-border-radius: 50px;
			-moz-border-radius: 50px;
			-ms-border-radius: 50px;
			-o-border-radius: 50px;
			>a {
				background-color: #1A1A1A;
				padding: 15px;
				color: $color_10;
				border-radius: 50px;
				-webkit-border-radius: 50px;
				-moz-border-radius: 50px;
				-ms-border-radius: 50px;
				-o-border-radius: 50px;
				>i {
					line-height: 0;
					font-size: 18px;
				}
			}
		}
	}
}
@media (max-width: 768px) {
	.contact {
		.contact_form {
			.form-group {
				input {
					width: 420px;
				}
			}
		}
	}
}
